body {
    background-image: url('../images/dashboard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

html, body {
    overflow-x: hidden;
}

.btn-0 {
    background-color: #181818;
    color: #E1C290;
    height: 106px;
    width: 106px;
    font-size: 90px;
    font-weight: bolder;
    border-radius: 40px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.btn-0:hover,
.btn-0:active
.btn-0:focus {
    background-color: #E1C290;
    color: #181818;
    transform: translateY(-2px);
}

.btn-0 svg {
    width: 50px;
    padding-bottom: 100%;
    fill: currentColor; 
    font-size: small;
    font-weight: 144;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.left-btn, 
.right-btn {
    position: relative;
    top: -20px;
    align-items: center;
    justify-content: center;
}

.left-btn {
    right: 10px;
}

.right-btn {
    left: 1710px;
}

/* .navbar {
    padding-bottom: 0px;
    padding-top: 0px;
} */

.left-btn img{
    width: 120%;
    height: 120%;
    margin-bottom: 60px;
}

.right-btn img {
    width: 150%;
    height: 150%;
    /* margin-bottom: 150px; */
    padding-left: 10px;
}

/* sliders */

#page {
    height: 100vh;
    width: 100vw;
}

.dashboard-slides {
    height: 80vh;
    width: 100vw;
    margin-top: 2%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sliders-container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 15vw;
    height: 75vh;
    /* max-width: 310px;
    max-height: 700px; */
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 1vw;  /* Responsive margin */
    display: flex;
    align-items: flex-start;
    transition: transform 0.6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    transform-style: preserve-3d;

    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

#c1 +label,
#c2+label,
#c3+label,
#c5+label {
    background-position: center;
}

.card:hover {
    /* transform: translateY(-5px); */
    transform: scale(1.1);
}

.card[for="c1"] {
    background-image:  url('../images/profile.jpg');
}
.card[for="c2"] {
    background-color: #A6A6A6;
    background-image:  url('../images/leaderboard.png');
}
.card[for="c3"] {
    background-image:  url('../images/arena.png');
}
.card[for="c4"] {
    background-image: url('../images/history.jpg');
}
.card[for="c5"]{
    background-image: url('../images/settings.png');
}

.title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EDDDC6;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

/* Example media query for mobile screens */
@media (max-width: 768px) {
    .card {
        width: 90vw;
        height: auto;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

